body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #F9FBFC;
    font-family: 'EB Garamond', serif;
    font-family: 'Roboto', sans-serif;
}

.change-theme-btn{
    background-color: #070B0F;
    color: white;
    font-weight: bold;
    padding: 5px;
    
}

.theme-btn-parent{
    width: 10vw;
    margin-top: 1%;
    margin-left: 45%;
    padding: 10px;
    background-color: white;
    box-shadow: 1px 1px 10px 5px lightgray;
    border: none;
}

.dark-theme-background{
    background-color: #070B0F;
    
}

.dark-theme-component{
    background-color: #46484E;
    width: 50vw;
    height: 50vh;
    margin: 0 auto;
    margin-top: 8%;
    color: white;
    box-shadow: 1px 1px 20px 10px lightgray;
}

.signup-parent{
    background-color: #E1F4F3;
    width: 50vw;
    height: 50vh;
    margin: 0 auto;
    margin-top: 8%;
}

.headings{
    display: flex;
    justify-content: space-evenly;
}

.input{
    width: 40vw;
    margin: 0 auto;
    margin-top: 2%;
    padding: 8px;
    
}

.email{
    width: 40vw;
    border: none;
    padding: 1%;
    background-color: #F9FBFC;
}

.password{
    width: 40vw;
    border: none;
    padding: 1%;
    background-color: #F9FBFC;
}

.signup-btn{
    width: 40.8vw;
    padding: 1%;
    margin-top: 5%;
    background-color: #BDE4F4;
    font-weight: bold;
    border: none;
}